@import './base.css';

@media (min-width: 1920px) {
  div.edit, div.preview {
    padding: 0 5% !important;
  }
}

@font-face {
  font-family: 'OsloSans';
  /* include OsloSans-Bold.woff and OsloSans-Regular.woff*/

  src: url("./fonts/OsloSans-Regular.woff");
}

h1,h2 {
  margin-top: 15px;
}

body, textarea, input {
  font-family: OsloSans;
}
ul.comma-list {
  display: inline;
  list-style: none;
}

strong, bold, .bold, .strong {
  font-weight: bold;
}


.comma-list  {
  display: inline;
  font-weight: bold;

}

.comma-list span::after {
  content: ", ";
}
.comma-list span:last-child::after {
  content: "";
}

table  {
  #table-layout: fixed;
  #width : 100%;
}



table.matrix td, table.matrix_add td {
  overflow: hidden;
  padding: 5px;
  width: calc(100% / 6);
}

.matrix_add .green, .matrix_add .yellow, .matrix_add .red{
  /* embossed button style */
    border: 1px solid #000;
    box-shadow: 0 1px 0 rgba(255,255,255,0.5) inset, 0 1px 2px rgba(0,0,0,0.3);
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.matrix_add td.green:hover, .matrix_add td.yellow:hover, .matrix_add td.red:hover {
  cursor: pointer;
  transform: scale(1.1);
  z-index: 10000;
  border: 2px solid #444;
}

/* press animation on click  for matrix_add td */
.matrix_add td.green:active, .matrix_add td.yellow:active, .matrix_add td.red:active {
  transform: scale(0.9);
  transition: transform 0.5s;
}



table td.yellow, .green, .red {
  text-align: center;
}

td.yellow {
  /*background: var(--color-yellow);*/
  background-color: #f9c66b;
}
td.green {
  background: #43F8B6FF;
}
td.red {
  background: #FF8274FF;
}

nav {
  background: var(--color-beige-dark);
  height: 50px;
  width: 100%;
  padding: 0 2rem;
  z-index: 1000;
  top: 0;
  position: fixed;

}
table {
  width: 100%;
  page-break-inside:auto;
}
tr {
  page-break-inside:avoid; page-break-after:auto
}

table.data {
  margin: 15px 0;
  border-collapse: collapse;

}

table.data td, table.data th {
  border: 1px solid black;
  padding: 5px;
}

.tiltaksVelger {
  margin: 7px;
}

div.preview, div.edit {
  background-color: var(--color-blue-light);
  margin: 40px 0;
  width: 50%;
  float: left;
  padding: 1rem 2rem;
}

div.preview {
  background: var(--color-beige-light);
  #padding: 5px;
  #resize: both;
  #overflow: auto;
}
textarea, input {
  padding: 10px;
}
textarea.long-text {
  width: 100%;
  height: 300px;
  resize: none;
}

textarea.medium-text {
  width: 100%;
  height: 100px;
  resize: none;
  margin: 7px;
}

textarea.small-text {
  width: 100%;
  height: 60px;
  resize: none;
  margin: 7px;
}


select {
  height: 30px;
  margin-left: 10px;
  padding: 5px;
}

pre {
  white-space: pre-wrap;
}

.hendelse {
  /* fancy embossed border */
  /* that is not fancy */
    border-radius: 5px;
  border: 1px solid var(--color-border);

    box-shadow: 0 1px 0 rgba(60,60,60,0.5) inset, 0 1px 2px rgba(0,0,0,0.3);
 /*thank you */
    padding: 15px;
    margin: 10px;
}

button {
  background: var(--color-blue-dark);
  color: var(--color-beige-light);
  border: 1px solid var(--color-border);
  padding: 7px;
  margin: 10px;
  cursor: pointer;
}

.col-small {
  width: 40px;
}

.col-medium {
  width: 50%;
}